    <!-- MODALS -->
    <div class="modal_custom" data-id="movies">
        <span class="icon-exit" data-id="movies">
            <svg class="icon icon-exit">
                <use xlink:href="#icon-exit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </span>
        <div class="modal_custom__body">
            <div class="api_doc_container">
                <section>
                    <div class="json_example">
                        <!-- Movie json example-->
                        <pre>
                            <code class="language-javascript">
//---------------------------------------
// GET Request for all movies playing now
//---------------------------------------

// Url: http://api.kvikmyndir.is/movies 
  {
    "_id": "572a43828d67709c36abc640",
    "id": 9650,
    "ids": {
      "imdb": "3498820",
      "rotten": null,
      "tmdb": null
    },
    "title": "Captain America: Civil War",
    "alternativeTitles": "",
    "year": "2016",
    "durationMinutes": 146,
    "genres": [
      {
        "ID": 1,
        "Name": "Spennumynd",
        "NameEN\t": "Action"
      },
      {
        "ID": 6,
        "Name": "Spennutryllir",
        "NameEN\t": "Thriller"
      },
      {
        "ID": 31,
        "Name": "Vísindaskáldskapur",
        "NameEN\t": "Sci-Fi"
      }
    ],
    "poster": "https://kvikmyndir.is/images/poster/9650_500.jpg",
    "actors_abridged": [
      {
        "name": "Chris Evans"
      },
      {
        "name": "Robert Downey Jr."
      }
    ],
    "directors_abridged": [
      {
        "name": "Anthony Russo"
      },
      {
        "name": "Joe Russo"
      }
    ],
    "ratings": {
      "imdb": "8.5",
      "rotten_audience": null,
      "rotten_critics": null
    },
    "showtimes": [
      {
        "cinema": {
          "id": 4,
          "name": "Laugarásbíó"
        },
        "schedule": [
          {
            "time": "18:00 (3D )",
            "purchase_url": "https://midi.is/ref/?r=31cb221cbee549dc98f0bedfac5c34cd&p=/bio/11/1564"
          },
          {
            "time": "21:00 (3D )",
            "purchase_url": "https://midi.is/ref/?r=31cb221cbee549dc98f0bedfac5c34cd&p=/bio/11/1564"
          },
          {
            "time": "22:25",
            "purchase_url": "https://midi.is/ref/?r=31cb221cbee549dc98f0bedfac5c34cd&p=/bio/11/1566"
          }
        ]
      },
      {
        "cinema": {
          "id": 6,
          "name": "Álfabakki"
        },
        "schedule": [
          {
            "time": "16:00 (3D A)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210463/"
          },
          {
            "time": "16:50 (P)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210478/"
          },
          {
            "time": "16:50 (2)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210471/"
          },
          {
            "time": "16:50 (3D 1)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210468/"
          },
          {
            "time": "19:05 (3D A)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210461/"
          },
          {
            "time": "20:00 (2)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210472/"
          },
          {
            "time": "20:00 (P)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210479/"
          },
          {
            "time": "20:00 (3D 1)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210469/"
          },
          {
            "time": "22:10 (3D A)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210462/"
          },
          {
            "time": "23:05 (P)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210480/"
          },
          {
            "time": "23:05 (2)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210473/"
          },
          {
            "time": "23:05 (3D 1)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210470/"
          }
        ]
      },
      {
        "cinema": {
          "id": 7,
          "name": "Kringlubíó"
        },
        "schedule": [
          {
            "time": "17:00 (3D 2)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210484/"
          },
          {
            "time": "20:00 (3D 2)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210482/"
          },
          {
            "time": "21:00 (3D 1)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210481/"
          },
          {
            "time": "23:00 (3D 2)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210483/"
          }
        ]
      },
      {
        "cinema": {
          "id": 8,
          "name": "Sambíóin Egilshöll"
        },
        "schedule": [
          {
            "time": "17:00 (3D 1)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210640/"
          },
          {
            "time": "19:00 (2)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210641/"
          },
          {
            "time": "20:00 (3D 1)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210638/"
          },
          {
            "time": "22:00 (2)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210642/"
          },
          {
            "time": "23:00 (3D 1)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210639/"
          }
        ]
      },
      {
        "cinema": {
          "id": 9,
          "name": "Sambíóin, Akureyri"
        },
        "schedule": [
          {
            "time": "17:00 (3D A)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210488/"
          },
          {
            "time": "20:00 (3D A)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210489/"
          },
          {
            "time": "22:20 (B)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210492/"
          },
          {
            "time": "23:00 (3D A)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210805/"
          }
        ]
      },
      {
        "cinema": {
          "id": 11,
          "name": "Sambíóin, Keflavík"
        },
        "schedule": [
          {
            "time": "17:30 (3D 1)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210493/"
          },
          {
            "time": "20:30 (3D 1)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210494/"
          },
          {
            "time": "22:30 (2)",
            "purchase_url": "http://www.sambio.is/Websales/Show/210496/"
          }
        ]
      }
    ],
    "certificate": {
      "is": "12 ára",
      "color": "yellow",
      "number": "12"
    },
    "trailers": [
      {
        "id": 271110,
        "results": [
          {
            "id": "571c8fd592514135ff003edc",
            "iso_639_1": "en",
            "iso_3166_1": "US",
            "key": "43NWzay3W4s",
            "name": "Official Trailer 1",
            "site": "YouTube",
            "size": 1080,
            "type": "Trailer"
          },
          {
            "id": "571f30f5c3a368338c002ae4",
            "iso_639_1": "en",
            "iso_3166_1": "US",
            "key": "1ZCoQzYB3go",
            "name": "7 Minutes",
            "site": "YouTube",
            "size": 720,
            "type": "Trailer"
          },
          {
            "id": "572475cf9251416df9000587",
            "iso_639_1": "en",
            "iso_3166_1": "US",
            "key": "_SASKNmPtCI",
            "name": "Official Trailer 2",
            "site": "YouTube",
            "size": 1080,
            "type": "Trailer"
          }
        ]
      }
    ],
    "omdb": [
      {
        "Title": "Captain America: Civil War",
        "Year": "2016",
        "Rated": "PG-13",
        "Released": "06 May 2016",
        "Runtime": "146 min",
        "Genre": "Action, Adventure, Sci-Fi",
        "Director": "Anthony Russo, Joe Russo",
        "Writer": "Christopher Markus (screenplay), Stephen McFeely (screenplay), Mark Millar (comic book), Joe Simon (characters), Jack Kirby (characters)",
        "Actors": "Chris Evans, Robert Downey Jr., Scarlett Johansson, Sebastian Stan",
        "Plot": "Political interference in the Avengers' activities causes a rift between former allies Captain America and Iron Man.",
        "Language": "English",
        "Country": "USA",
        "Awards": "N/A",
        "Poster": "http://ia.media-imdb.com/images/M/MV5BMjQ0MTgyNjAxMV5BMl5BanBnXkFtZTgwNjUzMDkyODE@._V1_SX300.jpg",
        "Metascore": "84",
        "imdbRating": "8.2",
        "imdbVotes": "6,493",
        "imdbID": "tt3498820",
        "Type": "movie",
        "tomatoMeter": "94",
        "tomatoImage": "fresh",
        "tomatoRating": "8.5",
        "tomatoReviews": "18",
        "tomatoFresh": "17",
        "tomatoRotten": "1",
        "tomatoConsensus": "N/A",
        "tomatoUserMeter": "N/A",
        "tomatoUserRating": "N/A",
        "tomatoUserReviews": "97211",
        "tomatoURL": "http://www.rottentomatoes.com/m/captain_america_civil_war/",
        "DVD": "N/A",
        "BoxOffice": "N/A",
        "Production": "Walt Disney Pictures",
        "Website": "http://marvel.com/captainamerica#/home",
        "Response": "True"
      }
    ],
    "plot": "Vegna misheppnaðra aðgerða sem kostað hafa mannslíf hefur\nstjórnin ákveðið að hér eftir þurfi Avengers-hópurinn og aðrir\nmeð ofurkrafta að fylgja ströngum reglum. Við þetta vill Steve\nRogers ekki sætta sig þvert á vilja Tonys Stark og smám saman\nmagnast deilan uns á brestur bardagi sem á eftir að taka sinn toll."
  },
....
...
..
.

                            </code>
                        </pre>
                    </div>
                </section>
            </div>
        </div>
    </div>
    
    <div class="modal_custom" data-id="upcoming">
        <span class="icon-exit" data-id="upcoming">
            <svg class="icon icon-exit">
                <use xlink:href="#icon-exit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </span>
        <div class="modal_custom__body">
            <div class="api_doc_container">
                <section>
                    <div class="json_example">
                        <!-- Movie json example-->
                        <pre>
                            <code class="language-javascript">
//------------------------------------
// GET Request for all upcoming movies 
//------------------------------------

// Url: http://api.kvikmyndir.is/upcoming 
  {
    "_id": "572a440e8d67709c36abc6d1",
    "id": 9617,
    "ids": {
      "imdb": "3065204",
      "rotten": null,
      "tmdb": null
    },
    "title": "The Conjuring 2",
    "alternativeTitles": "",
    "year": "2015",
    "release-dateIS": "2016-06-08",
    "genres": [
      {
        "ID": 5,
        "Name": "Hrollvekja",
        "NameEN\t": "Horror"
      }
    ],
    "actors_abridged": [
      {
        "name": "Vera Farmiga"
      },
      {
        "name": "Patrick Wilson"
      }
    ],
    "directors_abridged": [
      {
        "name": "James Wan"
      }
    ],
    "trailers": [
      {
        "id": 259693,
        "results": [
          {
            "id": "571b6f2c92514135ff0010ea",
            "iso_639_1": "en",
            "iso_3166_1": "US",
            "key": "KyA9AtUOqRM",
            "name": "Official Teaser Trailer",
            "site": "YouTube",
            "size": 1080,
            "type": "Trailer"
          },
          {
            "id": "571b6f579251414e970048d8",
            "iso_639_1": "en",
            "iso_3166_1": "US",
            "key": "VFsmuRPClr4",
            "name": "Main Trailer",
            "site": "YouTube",
            "size": 1080,
            "type": "Trailer"
          }
        ]
      }
    ],
    "omdb": [
      {
        "Title": "The Conjuring 2",
        "Year": "2016",
        "Rated": "N/A",
        "Released": "10 Jun 2016",
        "Runtime": "N/A",
        "Genre": "Horror",
        "Director": "James Wan",
        "Writer": "Carey Hayes (screenplay), Chad Hayes (screenplay), James Wan (screenplay), David Leslie Johnson (screenplay), Carey Hayes (story), Chad Hayes (story), James Wan (story)",
        "Actors": "Vera Farmiga, Patrick Wilson, David Thewlis, Franka Potente",
        "Plot": "Lorraine and Ed Warren travel to north London to help a single mother raising four children alone in a house plagued by malicious spirits.",
        "Language": "English",
        "Country": "USA",
        "Awards": "N/A",
        "Poster": "http://ia.media-imdb.com/images/M/MV5BYmY1OWFjNWUtMTc3YS00ZTM3LTk0MDYtNzBhOTEwYzBmMTlmXkEyXkFqcGdeQXVyNjQ4NTMyMTg@._V1_SX300.jpg",
        "Metascore": "N/A",
        "imdbRating": "N/A",
        "imdbVotes": "N/A",
        "imdbID": "tt3065204",
        "Type": "movie",
        "tomatoMeter": "N/A",
        "tomatoImage": "N/A",
        "tomatoRating": "N/A",
        "tomatoReviews": "N/A",
        "tomatoFresh": "N/A",
        "tomatoRotten": "N/A",
        "tomatoConsensus": "N/A",
        "tomatoUserMeter": "N/A",
        "tomatoUserRating": "N/A",
        "tomatoUserReviews": "22742",
        "tomatoURL": "http://www.rottentomatoes.com/m/the_conjuring_2_the_enfield_poltergeist/",
        "DVD": "N/A",
        "BoxOffice": "N/A",
        "Production": "Warner Bros. Pictures",
        "Website": "N/A",
        "Response": "True"
      }
    ],
    "plot": "The Conjuring 2 er byggð á einu þekktasta máli Ed Warren, sem Patrick Wilson leikur, og Lorraine Warren, sem Vera Farmiga leikur, en það er draugagangur sem einstæða móðirin Peggy Hodgson, sem Frances O´Connor leikur, upplifði árið 1977, ásamt fjórum börnum sínum.\n\nHinir yfirskilvitlegu atburðir áttu sér stað á tveggja ára tímabili í Hodgon húsinu í Brimsdown í Enfield á Englandi.",
    "poster": "https://kvikmyndir.is/images/poster/9617_500.jpg"
  },
....
...
..
.
                            </code>
                        </pre>
                    </div>
                </section>
            </div>
        </div>
    </div><!-- MODALS ENDS -->
    
    <div class="modal_custom" data-id="images">
        <span class="icon-exit" data-id="images">
            <svg class="icon icon-exit">
                <use xlink:href="#icon-exit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </span>
        <div class="modal_custom__body">
            <div class="api_doc_container">
                <section>
                    <div class="json_example">
                        <!-- Movie json example-->
                        <pre>
                            <code class="language-javascript">
//---------------------------------------------
// GET Request for posters and backdrops images
//---------------------------------------------

// Url: http://api.kvikmyndir.is/images?imdbid=tt2401878
[
    {
        "imdbid": "tt2401878",
        "results": {
            "id": 291270,
            "backdrops": [
                {
                    "aspect_ratio": 1.7775876817793,
                    "file_path": "/7gXheUIaNCGsp6kwhKqpLCBeqBm.jpg",
                    "height": 1169,
                    "iso_639_1": null,
                    "vote_average": 5.89041095890411,
                    "vote_count": 10,
                    "width": 2078
                },
                {
                    "aspect_ratio": 1.77777777777778,
                    "file_path": "/kGneW8ldxWZYTFdgVlPU2o7cXdU.jpg",
                    "height": 1080,
                    "iso_639_1": null,
                    "vote_average": 5.29017857142857,
                    "vote_count": 1,
                    "width": 1920
                },
                {
                    "aspect_ratio": 1.77725118483412,
                    "file_path": "/eRrppcCy5b6GJIUuMsAFOYg4w3J.jpg",
                    "height": 844,
                    "iso_639_1": null,
                    "vote_average": 5.24542124542125,
                    "vote_count": 2,
                    "width": 1500
                },
                {
                    "aspect_ratio": 1.77777777777778,
                    "file_path": "/7WcIz3hO7rZF0wFgXtNUcQlDqrZ.jpg",
                    "height": 1080,
                    "iso_639_1": null,
                    "vote_average": 0,
                    "vote_count": 0,
                    "width": 1920
                },
                {
                    "aspect_ratio": 1.77777777777778,
                    "file_path": "/vWMsauOacMyalMin36uFY9011qe.jpg",
                    "height": 2160,
                    "iso_639_1": null,
                    "vote_average": 0,
                    "vote_count": 0,
                    "width": 3840
                }
            ],
            "posters": [
                {
                    "aspect_ratio": 0.675238095238095,
                    "file_path": "/h6orfYDihFwZfneMvXyGUeTufeK.jpg",
                    "height": 1050,
                    "iso_639_1": "en",
                    "vote_average": 6.27653471026965,
                    "vote_count": 20,
                    "width": 709
                },
                {
                    "aspect_ratio": 0.685550604710376,
                    "file_path": "/8lux78pD4PQ529xpbIrWaUTRgg7.jpg",
                    "height": 1571,
                    "iso_639_1": "en",
                    "vote_average": 5.45739348370927,
                    "vote_count": 13,
                    "width": 1077
                },
                {
                    "aspect_ratio": 0.675,
                    "file_path": "/ez7MlIVbcT8pltcGBnLzUCKgDjw.jpg",
                    "height": 960,
                    "iso_639_1": "en",
                    "vote_average": 5.32212885154062,
                    "vote_count": 5,
                    "width": 648
                },
                {
                    "aspect_ratio": 0.73625,
                    "file_path": "/zaI8AGkLCN7Ustjd58kute06Hnt.jpg",
                    "height": 1600,
                    "iso_639_1": "fr",
                    "vote_average": 5.3125,
                    "vote_count": 1,
                    "width": 1178
                },
                {
                    "aspect_ratio": 0.675333333333333,
                    "file_path": "/a6rtJyX74pyxj65CPfFXGZY0w6z.jpg",
                    "height": 1500,
                    "iso_639_1": "pt",
                    "vote_average": 5.3125,
                    "vote_count": 1,
                    "width": 1013
                },
                {
                    "aspect_ratio": 0.666666666666667,
                    "file_path": "/w7WbpTyOzvMYirdlFLjWTSpydyT.jpg",
                    "height": 3000,
                    "iso_639_1": "en",
                    "vote_average": 5.3125,
                    "vote_count": 1,
                    "width": 2000
                },
                {
                    "aspect_ratio": 0.666666666666667,
                    "file_path": "/eTILB3qfPlj0Z01Meb1eBkXDnSa.jpg",
                    "height": 3000,
                    "iso_639_1": "en",
                    "vote_average": 5.3125,
                    "vote_count": 1,
                    "width": 2000
                },
                {
                    "aspect_ratio": 0.666666666666667,
                    "file_path": "/5KyD0cSDOSPCOMYwLN4fCS3sCgh.jpg",
                    "height": 3000,
                    "iso_639_1": "en",
                    "vote_average": 5.3125,
                    "vote_count": 1,
                    "width": 2000
                },
                {
                    "aspect_ratio": 0.666666666666667,
                    "file_path": "/44jHaX8TL3ChCVyYQQNKEtBiOsv.jpg",
                    "height": 3000,
                    "iso_639_1": "en",
                    "vote_average": 5.3125,
                    "vote_count": 1,
                    "width": 2000
                },
                {
                    "aspect_ratio": 0.685602350636631,
                    "file_path": "/3uZFg11daE9Q7yXpLFhOUnx5ZLq.jpg",
                    "height": 1021,
                    "iso_639_1": "en",
                    "vote_average": 5.2448021462106,
                    "vote_count": 8,
                    "width": 700
                },
                {
                    "aspect_ratio": 0.685602350636631,
                    "file_path": "/ab0WmBVrYSmE7r6B2fLsIA6eree.jpg",
                    "height": 1021,
                    "iso_639_1": "en",
                    "vote_average": 5.14705882352941,
                    "vote_count": 5,
                    "width": 700
                },
                {
                    "aspect_ratio": 0.694444444444444,
                    "file_path": "/6FeV76gCVcvW8CUQYmEDEMuDO3c.jpg",
                    "height": 1584,
                    "iso_639_1": "he",
                    "vote_average": 0,
                    "vote_count": 0,
                    "width": 1100
                }
            ]
        }
    }
]
                            </code>
                        </pre>
                    </div>
                </section>
            </div>
        </div>
    </div><!-- MODALS ENDS -->
    
    <div class="modal_custom" data-id="genres">
        <span class="icon-exit" data-id="genres">
            <svg class="icon icon-exit">
                <use xlink:href="#icon-exit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </span>
        <div class="modal_custom__body">
            <div class="api_doc_container">
                <section>
                    <div class="json_example">
                        <!-- Movie json example-->
                        <pre>
                            <code class="language-javascript">
//---------------------------------------------
// GET Request genres provided by kvikmyndir.is
//---------------------------------------------

// Url: http://api.kvikmyndir.is/genres
[
    {
        "ID": 1,
        "Name": "Spennumynd",
        "NameEN\t": "Action"
    },
    {
        "ID": 2,
        "Name": "Gamanmynd",
        "NameEN\t": "Comedy"
    },
    {
        "ID": 3,
        "Name": "Rómantísk",
        "NameEN\t": "Romance"
    },
    {
        "ID": 4,
        "Name": "Drama",
        "NameEN\t": "Drama"
    },
    {
        "ID": 5,
        "Name": "Hrollvekja",
        "NameEN\t": "Horror"
    },
    ...
    ..
    .
]
                            </code>
                        </pre>
                    </div>
                </section>
            </div>
        </div>
    </div><!-- MODALS ENDS -->
    
    
    <div class="modal_custom" data-id="cinemas">
        <span class="icon-exit" data-id="cinemas">
            <svg class="icon icon-exit">
                <use xlink:href="#icon-exit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </span>
        <div class="modal_custom__body">
            <div class="api_doc_container">
                <section>
                    <div class="json_example">
                        <!-- Movie json example-->
                        <pre>
                            <code class="language-javascript">
//-----------------------------------
// GET Request for cinemas in Iceland
//-----------------------------------

// Url: http://api.kvikmyndir.is/theaters
[
    {
        "id": 1,
        "name": "Smárabíó",
        "address\t": "Smáralind",
        "city": "201 Kópavogur",
        "phone": "564-0000",
        "website": "www.smarabio.is",
        "description": "Smárabíó er eitt fullkomnasta kvikmyndahús landsins.<br><br>\n\nBíóið er með 5 sali og tekur rúmlega 1.000 manns í sæti..\n<br><br><b>\n",
        "google_map": ""
    },
    {
        "id": 2,
        "name": "Háskólabíó",
        "address\t": "Hagatorgi",
        "city": "107 Reykjavík",
        "phone": "530-1919",
        "website": "www.haskolabio.is",
        "description": "Í Háskólabíó eru 7 misstórir fyrirlestrarsalir sérhannaðir fyrir fundi og fyrirlestra, sá minnsti 23 sæta og sá stærsti 970 sæta, samtals 1891 sæti.\n\nÍ öllum sölunum eru þægilegir stólar, í sumum felliborð og hallandi gólf og veitir það þátttakendum bestu aðstæður til að fylgjast með fyrirlesurum og myndefni á tjaldi. Auk þess er möguleiki á að bæta við fundaaðstöðu í öðrum byggingum Háskólans á svæðinu.\n\nGott aðgengi er fyrir fatlaða í öllu húsinu. 700 bílastæði eru umhverfis húsið.\n\n<br><br><b>\n\n",
        "google_map": ""
    },
    ....
    ...
    ..
    .
]
                            </code>
                        </pre>
                    </div>
                </section>
            </div>
        </div>
    </div>
    
    
<div class="modal_custom" data-id="token">
    <span class="icon-exit" data-id="token">
        <svg class="icon icon-exit">
            <use xlink:href="#icon-exit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
     </span>
    <div class="modal_custom__body">
        <div class="api_doc_container">
            <section>
            <div class="json_example">
                <!-- Authentication json example-->
                <pre>
                    <code class="language-javascript">
//----------------------
// TOKEN REQUEST EXAMPLE
//----------------------

// Request                       
$.ajax({
    url : 'http://api.kvikmyndir.is/authenticate',
    type : 'POST',
    data : {
        username : "My Username",
        password : "My Password"
    },
    dataType : 'json',
    success : function (response) {
        console.log(response);
    }
});

// Response
{
    "success" : true,
    "message" : "Enjoy your token it expires in 24 hours",
    "token" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJfaWQiOiI1NmZjMjk2YjFiYjM0M2Y4MGUyNDU3YWQiLCJnbG9iYWxhZG1pbiI6dHJ1ZSwiYWRtaW4iOnRydWUsImFjdGl2ZSI6dHJ1ZSwiZnVsbG5hbWUiOiJTbsOmciBTZWxqYW4gw57Ds3JvZGRzc29uIiwiZW1haWwiOiJzbmFlcnRoQGdtYWlsLmNvbSIsInVzZXJuYW1lIjoic25hZXJ0aCIsInBhc3N3b3JkIjoiJDJhJDA4JGs0RXMudy82Smw2UWRucjhuUjZPU09Eem13U0RBVmlVZElVZjhHSHhub05KNTFSSkRPRzQ2IiwibWVzc2FnZSI6IkkgYW0gdGhlIG9ubHkgZ2xvYmFsIGFkbWluIiwiaWF0IjoxNDYwODMwOTkwLCJleHAiOjE0NjA5MTczOTB9.sI3yuXmqci9xHW3o7sWVdXlPYjTPreWeAyca9YjiQjs"
}
                        </code>
                    </pre>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="modal_custom" data-id="example_request">
    <span class="icon-exit" data-id="example_request">
        <svg class="icon icon-exit">
            <use xlink:href="#icon-exit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
     </span>
    <div class="modal_custom__body">
        <div class="api_doc_container">
            <section>
            <div class="json_example">
                <!-- Authentication json example-->
                <pre>
                    <code class="language-javascript">
//----------------------
// GET REQUEST EXAMPLE
//----------------------

// Request with token as query string    
var token = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI....;                 
$.ajax({
    url : 'http://api.kvikmyndir.is/movies?token=' + token,
    type : 'GET'
    dataType : 'json',
    success : function (response) {
        console.log(response);
    }
});

// Request with x-access-token header
var token = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI....;                 
$.ajax({
    url : 'http://api.kvikmyndir.is/movies,
    type : 'GET',
    headers: { 
        x-access-token : token
    },
    dataType : 'json',
    success : function (response) {
        console.log(response);
    }
});

// Response
{
    _id: "56e501e3a66cbc6d82a0df92",
    id: 9996,
    ids: {
        imdb: "1663202",
        rotten: null,
        tmdb: null
    },
    title: "The Revenant",
    alternativeTitles: "",
    .....
    ....
    ...
    ..
    .
}

//----------------------------------------------------------------------------------------------------------------------------

//-------------------------------
// GET REQUEST EXAMPLE WITH QUERY
//-------------------------------

// Request with token as query string    
var token = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI....;                 
$.ajax({
    url : 'http://api.kvikmyndir.is/movies?title=The Revenant,
    type : 'GET'
    headers: { 
        x-access-token : token
    },
    dataType : 'json',
    success : function (response) {
        console.log(response);
    }
});

// Response
{
    _id: "56e501e3a66cbc6d82a0df92",
    id: 9996,
    ids: {
        imdb: "1663202",
        rotten: null,
        tmdb: null
    },
    title: "The Revenant",
    alternativeTitles: "",
    .....
    ....
    ...
    ..
    .
}
                        </code>
                    </pre>
                </div>
            </section>
        </div>
    </div>
</div><!-- MODALS ENDS -->