    <!-- MODALS -->
    <div class="modal_custom" data-id="movies">
        <span class="icon-exit" data-id="movies">
            <svg class="icon icon-exit">
                <use xlink:href="#icon-exit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </span>
        <div class="modal_custom__body">
            <div class="api_doc_container">
                <section>
                    <div class="json_example">
                        <!-- Movie json example-->
                        <pre>
                            <code class="language-javascript">
//---------------------------------------
// GET Request for all movies playing now
//---------------------------------------

// Url: http://api.biomynd.is/movies 
{
    _id: "56e501e3a66cbc6d82a0df92",
    id: 9996,
    ids: {
        imdb: "1663202",
        rotten: null,
        tmdb: null
    },
    title: "The Revenant",
    alternativeTitles: "",
    year: "2016",
    certificateIS: "16 ára",
    durationMinutes: 156,
    genres: [
        4,
        6,
        7,
        32
    ],
    poster: "http://kvikmyndir.is/images/poster/revenant-1451228798.png",
    actors_abridged: [
    {
        name: "Leonardo DiCaprio"
    },
    {
        name: "Tom Hardy"
    }
    ],
    directors_abridged: [
    {
        name: "Alejandro González Inárritu"
    }
    ],
    ratings: {
        imdb: "8.3",
        rotten_audience: null,
        rotten_critics: null
    },
    showtimes: [
    {
        cinema: "2",
        schedule: [
        "20:30"
        ]
    }
    ],
    certificateExtra: {
        color: "red",
        number: "16"
    },
    trailers: [
    {
        id: 281957,
        results: [
        {
            id: "5693d51bc3a3687b6b000145",
            iso_639_1: "en",
            iso_3166_1: "US",
            key: "EIELwayIIT4",
            name: "The Revenant Official Trailer 1 2015 HD",
            site: "YouTube",
            size: 1080,
            type: "Trailer"
        }
        ]
    }
    ],
    omdb: [
        {
            Title: "The Revenant",
            Year: "2015",
            Rated: "R",
            Released: "08 Jan 2016",
            Runtime: "156 min",
            Genre: "Adventure, Drama, Thriller",
            Director: "Alejandro González Iñárritu",
            Writer: "Mark L. Smith (screenplay), Alejandro González Iñárritu (screenplay), Michael Punke (based in part on the novel by)",
            Actors: "Leonardo DiCaprio, Tom Hardy, Domhnall Gleeson, Will Poulter",
            Plot: "A frontiersman on a fur trading expedition in the 1820s fights for survival after being mauled by a bear and left for dead by members of his own hunting team.",
            Language: "English, Pawnee, French",
            Country: "USA",
            Awards: "Nominated for 12 Oscars. Another 49 wins & 122 nominations.",
            Poster: "http://ia.media-imdb.com/images/M/MV5BMjU4NDExNDM1NF5BMl5BanBnXkFtZTgwMDIyMTgxNzE@._V1_SX300.jpg",
            Metascore: "76",
            imdbRating: "8.2",
            imdbVotes: "224,187",
            imdbID: "tt1663202",
            Type: "movie",
            tomatoMeter: "82",
            tomatoImage: "certified",
            tomatoRating: "8.0",
            tomatoReviews: "284",
            tomatoFresh: "234",
            tomatoRotten: "50",
            tomatoConsensus: "As starkly beautiful as it is harshly uncompromising, The Revenant uses Leonardo DiCaprio's committed performance as fuel for an absorbing drama that offers punishing challenges -- and rich rewards.",
            tomatoUserMeter: "85",
            tomatoUserRating: "4.1",
            tomatoUserReviews: "75862",
            tomatoURL: "http://www.rottentomatoes.com/m/the_revenant_2015/",
            DVD: "N/A",
            BoxOffice: "$149.5M",
            Production: "20th Century Fox",
            Website: "http://www.foxmovies.com/movies/the-revenant",
            Response: "True"
        }
    ],
    plot: "Sönn saga Hughs Glass sem skilinn var eftir í óbyggðum nær dauða en lífi árið 1823 eftir árás bjarnar. En Hugh lifði af og gríðarlega illa særður eftir björninn, fótbrotinn, vopnlaus og matarlaus náði hann samt sem áður að komast um 320 kílómetra leið að byggðu bóli, staðráðinn í að hefna sín á mönnunum sem skildu hann eftir."
},
....
...
..
.

                            </code>
                        </pre>
                    </div>
                </section>
            </div>
        </div>
    </div>
    
    <div class="modal_custom" data-id="upcoming">
        <span class="icon-exit" data-id="upcoming">
            <svg class="icon icon-exit">
                <use xlink:href="#icon-exit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </span>
        <div class="modal_custom__body">
            <div class="api_doc_container">
                <section>
                    <div class="json_example">
                        <!-- Movie json example-->
                        <pre>
                            <code class="language-javascript">
//------------------------------------
// GET Request for all upcoming movies 
//------------------------------------

// Url: http://api.biomynd.is/upcoming 
{
	"_id": "56e7a547a66cbc6d82a287e3",
	"id": 9617,
	"ids": {
		"imdb": "3065204",
		"rotten": null,
		"tmdb": null
		},
		"title": "The Conjuring 2",
		"alternativeTitles": "",
		"year": "2015",
		"release-dateIS": "2016-06-08",
		"genres": [
		5
		],
		"actors_abridged": [
		{
			"name": "Vera Farmiga"
			},
			{
				"name": "Patrick Wilson"
			}
			],
			"directors_abridged": [
			{
				"name": "James Wan"
			}
			],
    "trailers": [
    {
        "id": 259693,
        "results": [
        {
            "id": "569d1a649251415e5e0037eb",
            "iso_639_1": "en",
            "iso_3166_1": "US",
            "key": "sKFckXa7ZoQ",
            "name": "Teaser Trailer",
            "site": "YouTube",
            "size": 1080,
            "type": "Trailer"
        }
        ]
    }
    ],
    "omdb": [
    {
        "Title": "The Conjuring 2",
        "Year": "2016",
        "Rated": "N/A",
        "Released": "10 Jun 2016",
        "Runtime": "N/A",
        "Genre": "Horror",
        "Director": "James Wan",
        "Writer": "Carey Hayes (screenplay), Chad Hayes (screenplay), James Wan (screenplay), David Leslie Johnson (screenplay), Carey Hayes (story), Chad Hayes (story), James Wan (story)",
        "Actors": "Vera Farmiga, Patrick Wilson, Franka Potente, Frances O'Connor",
        "Plot": "Lorraine and Ed Warren travel to north London to help a single mother raising four children alone in a house plagued by malicious spirits.",
        "Language": "English",
        "Country": "USA",
        "Awards": "N/A",
        "Poster": "http://ia.media-imdb.com/images/M/MV5BOTAzMTFhMWYtMDM3My00ZjNlLWJmYjItODY0ODE3YTNiZDA2XkEyXkFqcGdeQXVyNjQ4NTMyMTg@._V1_SX300.jpg",
        "Metascore": "N/A",
        "imdbRating": "N/A",
        "imdbVotes": "N/A",
        "imdbID": "tt3065204",
        "Type": "movie",
        "tomatoMeter": "N/A",
        "tomatoImage": "N/A",
        "tomatoRating": "N/A",
        "tomatoReviews": "N/A",
        "tomatoFresh": "N/A",
        "tomatoRotten": "N/A",
        "tomatoConsensus": "N/A",
        "tomatoUserMeter": "N/A",
        "tomatoUserRating": "N/A",
        "tomatoUserReviews": "18207",
        "tomatoURL": "http://www.rottentomatoes.com/m/the_conjuring_2_the_enfield_poltergeist/",
        "DVD": "N/A",
        "BoxOffice": "N/A",
        "Production": "Warner Bros. Pictures",
        "Website": "N/A",
        "Response": "True"
    }
    ],
    "plot": "The Conjuring 2 er byggð á einu þekktasta máli Ed Warren, sem Patrick Wilson leikur, og Lorraine Warren, sem Vera Farmiga leikur, en það er draugagangur sem einstæða móðirin Peggy Hodgson, sem Frances O´Connor leikur, upplifði árið 1977, ásamt fjórum börnum sínum.\n\nHinir yfirskilvitlegu atburðir áttu sér stað á tveggja ára tímabili í Hodgon húsinu í Brimsdown í Enfield á Englandi.",
    "poster": "http://kvikmyndir.is/images/poster/9617_500.jpg"
},
....
...
..
.
                            </code>
                        </pre>
                    </div>
                </section>
            </div>
        </div>
    </div><!-- MODALS ENDS -->
    
    <div class="modal_custom" data-id="images">
        <span class="icon-exit" data-id="images">
            <svg class="icon icon-exit">
                <use xlink:href="#icon-exit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </span>
        <div class="modal_custom__body">
            <div class="api_doc_container">
                <section>
                    <div class="json_example">
                        <!-- Movie json example-->
                        <pre>
                            <code class="language-javascript">
//---------------------------------------------
// GET Request for posters and backdrops images
//---------------------------------------------

// Url: http://api.biomynd.is/images?imdbid=tt2401878
[
    {
        "imdbid": "tt2401878",
        "results": {
            "id": 291270,
            "backdrops": [
                {
                    "aspect_ratio": 1.7775876817793,
                    "file_path": "/7gXheUIaNCGsp6kwhKqpLCBeqBm.jpg",
                    "height": 1169,
                    "iso_639_1": null,
                    "vote_average": 5.89041095890411,
                    "vote_count": 10,
                    "width": 2078
                },
                {
                    "aspect_ratio": 1.77777777777778,
                    "file_path": "/kGneW8ldxWZYTFdgVlPU2o7cXdU.jpg",
                    "height": 1080,
                    "iso_639_1": null,
                    "vote_average": 5.29017857142857,
                    "vote_count": 1,
                    "width": 1920
                },
                {
                    "aspect_ratio": 1.77725118483412,
                    "file_path": "/eRrppcCy5b6GJIUuMsAFOYg4w3J.jpg",
                    "height": 844,
                    "iso_639_1": null,
                    "vote_average": 5.24542124542125,
                    "vote_count": 2,
                    "width": 1500
                },
                {
                    "aspect_ratio": 1.77777777777778,
                    "file_path": "/7WcIz3hO7rZF0wFgXtNUcQlDqrZ.jpg",
                    "height": 1080,
                    "iso_639_1": null,
                    "vote_average": 0,
                    "vote_count": 0,
                    "width": 1920
                },
                {
                    "aspect_ratio": 1.77777777777778,
                    "file_path": "/vWMsauOacMyalMin36uFY9011qe.jpg",
                    "height": 2160,
                    "iso_639_1": null,
                    "vote_average": 0,
                    "vote_count": 0,
                    "width": 3840
                }
            ],
            "posters": [
                {
                    "aspect_ratio": 0.675238095238095,
                    "file_path": "/h6orfYDihFwZfneMvXyGUeTufeK.jpg",
                    "height": 1050,
                    "iso_639_1": "en",
                    "vote_average": 6.27653471026965,
                    "vote_count": 20,
                    "width": 709
                },
                {
                    "aspect_ratio": 0.685550604710376,
                    "file_path": "/8lux78pD4PQ529xpbIrWaUTRgg7.jpg",
                    "height": 1571,
                    "iso_639_1": "en",
                    "vote_average": 5.45739348370927,
                    "vote_count": 13,
                    "width": 1077
                },
                {
                    "aspect_ratio": 0.675,
                    "file_path": "/ez7MlIVbcT8pltcGBnLzUCKgDjw.jpg",
                    "height": 960,
                    "iso_639_1": "en",
                    "vote_average": 5.32212885154062,
                    "vote_count": 5,
                    "width": 648
                },
                {
                    "aspect_ratio": 0.73625,
                    "file_path": "/zaI8AGkLCN7Ustjd58kute06Hnt.jpg",
                    "height": 1600,
                    "iso_639_1": "fr",
                    "vote_average": 5.3125,
                    "vote_count": 1,
                    "width": 1178
                },
                {
                    "aspect_ratio": 0.675333333333333,
                    "file_path": "/a6rtJyX74pyxj65CPfFXGZY0w6z.jpg",
                    "height": 1500,
                    "iso_639_1": "pt",
                    "vote_average": 5.3125,
                    "vote_count": 1,
                    "width": 1013
                },
                {
                    "aspect_ratio": 0.666666666666667,
                    "file_path": "/w7WbpTyOzvMYirdlFLjWTSpydyT.jpg",
                    "height": 3000,
                    "iso_639_1": "en",
                    "vote_average": 5.3125,
                    "vote_count": 1,
                    "width": 2000
                },
                {
                    "aspect_ratio": 0.666666666666667,
                    "file_path": "/eTILB3qfPlj0Z01Meb1eBkXDnSa.jpg",
                    "height": 3000,
                    "iso_639_1": "en",
                    "vote_average": 5.3125,
                    "vote_count": 1,
                    "width": 2000
                },
                {
                    "aspect_ratio": 0.666666666666667,
                    "file_path": "/5KyD0cSDOSPCOMYwLN4fCS3sCgh.jpg",
                    "height": 3000,
                    "iso_639_1": "en",
                    "vote_average": 5.3125,
                    "vote_count": 1,
                    "width": 2000
                },
                {
                    "aspect_ratio": 0.666666666666667,
                    "file_path": "/44jHaX8TL3ChCVyYQQNKEtBiOsv.jpg",
                    "height": 3000,
                    "iso_639_1": "en",
                    "vote_average": 5.3125,
                    "vote_count": 1,
                    "width": 2000
                },
                {
                    "aspect_ratio": 0.685602350636631,
                    "file_path": "/3uZFg11daE9Q7yXpLFhOUnx5ZLq.jpg",
                    "height": 1021,
                    "iso_639_1": "en",
                    "vote_average": 5.2448021462106,
                    "vote_count": 8,
                    "width": 700
                },
                {
                    "aspect_ratio": 0.685602350636631,
                    "file_path": "/ab0WmBVrYSmE7r6B2fLsIA6eree.jpg",
                    "height": 1021,
                    "iso_639_1": "en",
                    "vote_average": 5.14705882352941,
                    "vote_count": 5,
                    "width": 700
                },
                {
                    "aspect_ratio": 0.694444444444444,
                    "file_path": "/6FeV76gCVcvW8CUQYmEDEMuDO3c.jpg",
                    "height": 1584,
                    "iso_639_1": "he",
                    "vote_average": 0,
                    "vote_count": 0,
                    "width": 1100
                }
            ]
        }
    }
]
                            </code>
                        </pre>
                    </div>
                </section>
            </div>
        </div>
    </div><!-- MODALS ENDS -->
    
    <div class="modal_custom" data-id="genres">
        <span class="icon-exit" data-id="genres">
            <svg class="icon icon-exit">
                <use xlink:href="#icon-exit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </span>
        <div class="modal_custom__body">
            <div class="api_doc_container">
                <section>
                    <div class="json_example">
                        <!-- Movie json example-->
                        <pre>
                            <code class="language-javascript">
//---------------------------------------------
// GET Request genres provided by kvikmyndir.is
//---------------------------------------------

// Url: http://api.biomynd.is/genres
[
    {
        "ID": 1,
        "Name": "Spennumynd",
        "NameEN\t": "Action"
    },
    {
        "ID": 2,
        "Name": "Gamanmynd",
        "NameEN\t": "Comedy"
    },
    {
        "ID": 3,
        "Name": "Rómantísk",
        "NameEN\t": "Romance"
    },
    {
        "ID": 4,
        "Name": "Drama",
        "NameEN\t": "Drama"
    },
    {
        "ID": 5,
        "Name": "Hrollvekja",
        "NameEN\t": "Horror"
    },
    ...
    ..
    .
]
                            </code>
                        </pre>
                    </div>
                </section>
            </div>
        </div>
    </div><!-- MODALS ENDS -->
    
    
    <div class="modal_custom" data-id="cinemas">
        <span class="icon-exit" data-id="cinemas">
            <svg class="icon icon-exit">
                <use xlink:href="#icon-exit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </span>
        <div class="modal_custom__body">
            <div class="api_doc_container">
                <section>
                    <div class="json_example">
                        <!-- Movie json example-->
                        <pre>
                            <code class="language-javascript">
//-----------------------------------
// GET Request for cinemas in Iceland
//-----------------------------------

// Url: http://api.biomynd.is/theaters
[
    {
        "id": 1,
        "name": "Smárabíó",
        "address\t": "Smáralind",
        "city": "201 Kópavogur",
        "phone": "564-0000",
        "website": "www.smarabio.is",
        "description": "Smárabíó er eitt fullkomnasta kvikmyndahús landsins.<br><br>\n\nBíóið er með 5 sali og tekur rúmlega 1.000 manns í sæti..\n<br><br><b>\n",
        "google_map": ""
    },
    {
        "id": 2,
        "name": "Háskólabíó",
        "address\t": "Hagatorgi",
        "city": "107 Reykjavík",
        "phone": "530-1919",
        "website": "www.haskolabio.is",
        "description": "Í Háskólabíó eru 7 misstórir fyrirlestrarsalir sérhannaðir fyrir fundi og fyrirlestra, sá minnsti 23 sæta og sá stærsti 970 sæta, samtals 1891 sæti.\n\nÍ öllum sölunum eru þægilegir stólar, í sumum felliborð og hallandi gólf og veitir það þátttakendum bestu aðstæður til að fylgjast með fyrirlesurum og myndefni á tjaldi. Auk þess er möguleiki á að bæta við fundaaðstöðu í öðrum byggingum Háskólans á svæðinu.\n\nGott aðgengi er fyrir fatlaða í öllu húsinu. 700 bílastæði eru umhverfis húsið.\n\n<br><br><b>\n\n",
        "google_map": ""
    },
    ....
    ...
    ..
    .
]
                            </code>
                        </pre>
                    </div>
                </section>
            </div>
        </div>
    </div>
    
    
<div class="modal_custom" data-id="token">
    <span class="icon-exit" data-id="token">
        <svg class="icon icon-exit">
            <use xlink:href="#icon-exit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
     </span>
    <div class="modal_custom__body">
        <div class="api_doc_container">
            <section>
            <div class="json_example">
                <!-- Authentication json example-->
                <pre>
                    <code class="language-javascript">
//----------------------
// TOKEN REQUEST EXAMPLE
//----------------------

// Request                       
$.ajax({
    url : 'http://api.biomynd.is/authenticate',
    type : 'POST',
    data : {
        username : "My Username",
        password : "My Password"
    },
    dataType : 'json',
    success : function (response) {
        console.log(response);
    }
});

// Response
{
    "success" : true,
    "message" : "Enjoy your token it expires in 24 hours",
    "token" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJfaWQiOiI1NmZjMjk2YjFiYjM0M2Y4MGUyNDU3YWQiLCJnbG9iYWxhZG1pbiI6dHJ1ZSwiYWRtaW4iOnRydWUsImFjdGl2ZSI6dHJ1ZSwiZnVsbG5hbWUiOiJTbsOmciBTZWxqYW4gw57Ds3JvZGRzc29uIiwiZW1haWwiOiJzbmFlcnRoQGdtYWlsLmNvbSIsInVzZXJuYW1lIjoic25hZXJ0aCIsInBhc3N3b3JkIjoiJDJhJDA4JGs0RXMudy82Smw2UWRucjhuUjZPU09Eem13U0RBVmlVZElVZjhHSHhub05KNTFSSkRPRzQ2IiwibWVzc2FnZSI6IkkgYW0gdGhlIG9ubHkgZ2xvYmFsIGFkbWluIiwiaWF0IjoxNDYwODMwOTkwLCJleHAiOjE0NjA5MTczOTB9.sI3yuXmqci9xHW3o7sWVdXlPYjTPreWeAyca9YjiQjs"
}
                        </code>
                    </pre>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="modal_custom" data-id="example_request">
    <span class="icon-exit" data-id="example_request">
        <svg class="icon icon-exit">
            <use xlink:href="#icon-exit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
     </span>
    <div class="modal_custom__body">
        <div class="api_doc_container">
            <section>
            <div class="json_example">
                <!-- Authentication json example-->
                <pre>
                    <code class="language-javascript">
//----------------------
// GET REQUEST EXAMPLE
//----------------------

// Request with token as query string    
var token = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI....;                 
$.ajax({
    url : 'http://api.biomynd.is/movies?token=' + token,
    type : 'GET'
    dataType : 'json',
    success : function (response) {
        console.log(response);
    }
});

// Request with x-access-token header
var token = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI....;                 
$.ajax({
    url : 'http://api.biomynd.is/movies,
    type : 'GET',
    headers: { 
        x-access-token : token
    },
    dataType : 'json',
    success : function (response) {
        console.log(response);
    }
});

// Response
{
    _id: "56e501e3a66cbc6d82a0df92",
    id: 9996,
    ids: {
        imdb: "1663202",
        rotten: null,
        tmdb: null
    },
    title: "The Revenant",
    alternativeTitles: "",
    .....
    ....
    ...
    ..
    .
}

//----------------------------------------------------------------------------------------------------------------------------

//-------------------------------
// GET REQUEST EXAMPLE WITH QUERY
//-------------------------------

// Request with token as query string    
var token = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI....;                 
$.ajax({
    url : 'http://api.biomynd.is/movies?title=The Revenant,
    type : 'GET'
    headers: { 
        x-access-token : token
    },
    dataType : 'json',
    success : function (response) {
        console.log(response);
    }
});

// Response
{
    _id: "56e501e3a66cbc6d82a0df92",
    id: 9996,
    ids: {
        imdb: "1663202",
        rotten: null,
        tmdb: null
    },
    title: "The Revenant",
    alternativeTitles: "",
    .....
    ....
    ...
    ..
    .
}
                        </code>
                    </pre>
                </div>
            </section>
        </div>
    </div>
</div><!-- MODALS ENDS -->