<footer>
  <div class="socials_container">
    <ul>
      <!-- GITHUB -->
      <li>
        <a
          href="https://github.com/snaerth/icelandic-movie-api.git"
          target="_blank"
        >
          <span class="icon-github" id="tt1">
            <svg class="icon icon-github">
              <use
                xlink:href="#icon-github"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              ></use>
            </svg>
          </span>
        </a>

        <!-- Large Tooltip -->
        <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for="tt1">
          Code available on GitHub
        </div>
      </li>
      <!-- MESSAGE -->
      <li>
        <a href="mailto:snaerth@gmail.com?subject=api.kvikmyndir.is">
          <span class="icon-paperplane" id="tt2">
            <svg class="icon icon-paperplane">
              <use
                xlink:href="#icon-paperplane"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              ></use>
            </svg>
          </span>
        </a>
        <!-- Large Tooltip -->
        <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for="tt2">
          Contact me
        </div>
      </li>
    </ul>
  </div>
  <p class="text-center white-font made-by">
    API and website developed by
    <a
      href="#"
      target="_blank"
      class="hvr-underline-from-center modal-button"
      data-id="about"
      >Snær Seljan Þóroddsson</a
    >
  </p>
</footer>
