<!-- MODALS FOR MESSAGES -->
<div class="modal_custom" data-id="about">
    <span class="icon-exit form" data-id="about">
            <svg class="icon icon-exit">
                <use xlink:href="#icon-exit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </span>
    <div class="modal_custom__body">
        <div class="message_container width_600">
            <div class="text-center about_container">
                <img src="/images/me.jpg" class="circle_image" alt="Snær Seljan Þóroddsson author image"/>
                <h2 class="underline">Snær Seljan Þóroddsson</h2>
                <p>Programmer, teacher, wrestler, judo man</p>
                <p>and of course movie enthusiast.</p>
            </div>
        </div>
    </div>
</div>